<div>
    <img src="{{movieDetail.image}}" alt="{{movieDetail.title}}">
    <a href="/movies">Atrás</a>
    <h3>Director: {{movieDetail.director}}</h3>
    <h4>Actores de reparto</h4>
        {{#each movieDetail.stars}}
            <li>{{this}}</li>
        {{/each}}
    <p>{{movieDetail.description}}</p>
    {{#each movieDetail.showtime}}
        <li>{{this}}</li>
    {{/each}}
</div>